.btn {
  width: 100% !important;
}

.material-symbols-outlined {
  vertical-align: middle;
}
.card {
  transition-duration: 300ms;
  transform: scale(1);
}
.card:hover {
  transition-duration: 300ms;
  transform: scale(1.03);
}
